<!-- Shell con split-pane: menú + contenido principal -->
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>GestorTienda</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- Perfil de la tienda (avatar + nombre) -->
        <div class="ion-padding" *ngIf="user() as u">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img [src]="u.storeImageUrl || fallbackUrl" (error)="onStoreImgError($event)" alt="store" />
            </ion-avatar>
            <ion-label>
              <h2>{{ u.storeName }}</h2>
              <p>@{{ u.username }}</p>
            </ion-label>
          </ion-item>
        </div>
        <!-- Navegación principal -->
        <ion-list>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerLink="/home" routerDirection="root">
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-label>Inicio</ion-label>
            </ion-item>
            <ion-item routerLink="/products" routerDirection="root">
              <ion-icon name="storefront" slot="start"></ion-icon>
              <ion-label>Productos</ion-label>
            </ion-item>
            <ion-item routerLink="/clients" routerDirection="root">
              <ion-icon name="people" slot="start"></ion-icon>
              <ion-label>Clientes</ion-label>
            </ion-item>
            
            <ion-item (click)="logout()" routerLink="/auth/login" routerDirection="root">
              <ion-icon name="log-out" slot="start"></ion-icon>
              <ion-label>Salir</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <!-- Aquí se renderizan las páginas según la ruta -->
      <ion-router-outlet></ion-router-outlet>
    </div>
  </ion-split-pane>
</ion-app>
